/*  .div1{ 
    width:300px; 
    height: 300px; 
    background: green; 
    padding:20px; 
} 
.div2{ 
    width:200px; 
    height: 200px; 
    background: yellow; 
    margin:0 auto; 
} 
 
.div3{ 
    width: 100px; 
    height: 100px; 
    background: pink; 
    margin:0 auto; 
} */
/* 
.div1{
    width: 1000px;
    height: 1000px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2{
    width: 700px;
    height: 700px;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div3{
    width: 600px;
    height: 600px;
    background: forestgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div4{
    width: 500px;
    height: 500px;
    background: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div5{
    width: 400px;
    height: 400px;
    background: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div6{
    width: 300px;
    height: 300px;
    background: rgb(70, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
}

.man1{ 
    width: 300px; 
    height: 300px; 
    background-color: rgb(158, 194, 75); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
 
.man2{ 
    width: 200px; 
    height: 200px; 
    background-color: rgb(206, 61, 85); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
.man3{ 
    width: 100px; 
    height: 100px; 
    background-color: rgb(177, 24, 197); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} */ 
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed; /* Оставаться на месте */
    z-index: 1; /* Сидеть на вершине */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Включите прокрутку, если это необходимо */
    background-color: rgb(0,0,0); /* Цвет запасной вариант */
    background-color: rgba(0,0,0,0.4); /* Черный с непрозрачностью */
  }
  
  /* Модальное содержание/коробка */
  .modal-content {
    background: url('http://pics.livejournal.com/a_poli/pic/002k9qyb');
    background-size: 400px 300px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #fefefe;
    margin: 15% auto; /* 15% сверху и по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Может быть больше или меньше, в зависимости от размера экрана */
  }
  
  /* Кнопка закрытия */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  button{
    justify-content: center;
    width: 400px;
    height: 140px   ;
    font-size: 40px;
  }

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;

}
